select, option{
  border:#aaa 2px solid;
  border-radius:8px;
  color:#333;
  background-color:#eee;
}
.list {
  width:200px;
  height:40px;
  font-size:20px;
  font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
  font-weight:bold;
}