:root {
  --b-color: #ddd;
  --back-color: #eee;
  --f-color: #333;
}

body {
  width: 980px;
}
select,
option {
  padding-left: 20px;
  border: none;
  border-bottom: var(--b-color) 8px solid;
  color: var(--f-color);
  background-color: var(--back-color);
  margin: 10px;
}
#mode-list {
  width: calc(30%);
  height: 80px;
  font-size: 30px;
  font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ",
    Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN",
    "ＭＳ Ｐゴシック", sans-serif;
  font-weight: bold;
  line-height:calc(100%);
}
.settings {
  width: calc(100%);
  color: var(--f-color);
  background-color: var(--back-color);
  margin: 10px;
}

.setting_content {
  display: none;
}
