:root {
  --b-color: #ddd;
  --back-color: #eee;
  --f-color: #333;
}

* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ",
    Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN",
    "ＭＳ Ｐゴシック", sans-serif;
}

body {
  padding:10px;
  width: 960px;
  border: #000 1px solid;
}
select,
option {
  padding-left: 20px;
  border: none;
  border-bottom: var(--b-color) 8px solid;
  color: var(--f-color);
  background-color: var(--back-color);
  margin: 10px;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#mode-list {
  width: calc(50%);
  height: 120px;
  font-size: 50px;
  font-weight: bold;
  line-height: calc(100%);
}
.settings {
  width: calc(100% - 20px);
  color: var(--f-color);
  background-color: var(--back-color);
  margin: 10px;
}

.setting-content {
  display: none;
  color: var(--f-color);
  font-weight: bold;
  width:calc(100% - 20px);
}
.small-title {
  font-weight: bold;
  border-bottom: var(--b-color) 8px solid;
  width: calc(50%);
  margin: 10px;
  padding-bottom: 0px;
  font-size: 10px;
}
.list {
  position: relative;
}
.list:after {
  position: absolute;
  content: "";
  left:420px;
  bottom:40px;
  width:30px;
  height:30px;
  border-top: 8px solid var(--f-color);
  border-left: 8px solid var(--f-color);
  transform: translateY(-50%) rotate(-135deg);
  opacity:0.5;
  pointer-events: none;
}
